<h1>Our Team Members</h1>
<hr>
<mat-grid-list cols="3">
  <mat-grid-tile>
    <div class="description">
      <img src="/assets/img-block-our-team/team-1.jpg" >
      <div class ="content">
        <h2>Mark Smith</h2>
        <p>Marketing Manager</p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="description">
      <img src="/assets/img-block-our-team/team-2.jpg" >
      <div class="content">
        <h2>Dennis Scott</h2>
        <p>Chief Head</p>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="description">
      <img mmat-card-image src="/assets/img-block-our-team/team-3.jpg" >
      <div class="content">
        <h2>Lucas Harrison</h2>
        <p>Project Lead</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

