<mat-grid-list cols="4">
  <mat-grid-tile>
    <mat-list role="list" class="quick-links">
      <div mat-subheader>Quick Links</div>
      <a href="/home"><fa-icon [icon]="faArrowRight"></fa-icon> Home </a>
      <a href="/about"><fa-icon [icon]="faArrowRight"></fa-icon> About Us </a>
      <a href="/service"><fa-icon [icon]="faArrowRight"></fa-icon> Our Services </a>
      <a href="/blog"><fa-icon [icon]="faArrowRight"></fa-icon> Latest Blog Post </a>
      <a href="/contact"><fa-icon [icon]="faArrowRight"></fa-icon> Contact Us </a>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list role="list" class="popular-links">
      <div mat-subheader>Popular Links</div>
      <a href="/home"><fa-icon [icon]="faArrowRight"></fa-icon> Home </a>
      <a href="/about"><fa-icon [icon]="faArrowRight"></fa-icon> About Us </a>
      <a href="/service"><fa-icon [icon]="faArrowRight"></fa-icon> Our Services </a>
      <a href="/blog"><fa-icon [icon]="faArrowRight"></fa-icon> Latest Blog Post </a>
      <a href="/contact"><fa-icon [icon]="faArrowRight"></fa-icon> Contact Us </a>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list role="list" class="contact">
      <div mat-subheader>Get In Touch</div>
      <p><fa-icon [icon]="faMap"></fa-icon>123 Street, New York, USA</p>
      <p><fa-icon [icon]="faEnvelopeOpen"></fa-icon>info@example.com</p>
      <p><fa-icon [icon]="faPhone"></fa-icon>+012 345 67890</p>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list role="list" class="follow_us">
      <div mat-subheader>Follow Us</div>
      <a href="/"><fa-icon [icon]="faTwitter"></fa-icon></a>
      <a href="/"><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a href="/"><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
      <a href="/"><fa-icon [icon]="faInstagram"></fa-icon></a>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>

