topbar {
  background: #F6F6F6;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  height: 48px;
}
navbar{
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1020;
  background-color: #fff;
}
footer{
  width: 100%;
  display: block;
  float:left;
  background-color: #152440;
}
.header-page{
  background-color: #152440;
  text-align: center;
  padding: 3rem;
  font-size: 25px;
  color:#F3525A;
}
.header-page h1{
  margin-bottom: 0px;
  color: #fff;
  margin-top: 0;
}
::ng-deep .xng-breadcrumb-root .xng-breadcrumb-item,
::ng-deep .xng-breadcrumb-root .xng-breadcrumb-trail,
::ng-deep .xng-breadcrumb-separator{
  color:#F3525A;
  font-size:16px;
}
::ng-deep .xng-breadcrumb-list{
  justify-content: center;
}
xng-breadcrumb .mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
}
::ng-deep xng-breadcrumb .xng-breadcrumb-root{
  margin-top:10px;
}
