<mat-toolbar>
  <ul class="topmenu">
    <li><a href="/">FAQs</a></li>
    <li><a href="/">Support</a></li>
    <li><a href="/">Privacy</a></li>
    <li><a href="/">Policy</a></li>
    <li><a href="/">Career</a></li>
  </ul>
  <ul class="contact">
      <span class="email"><mat-icon>email</mat-icon>info@example.com</span>
      <span class="phone"><mat-icon>phone</mat-icon>+012 345 6789</span>
      <button mat-raised-button  [autofocus]="false" (click)="openDialog()">Login in</button>
  </ul>
</mat-toolbar>





